 body {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


body {
    display: grid;
    height: 1;
    grid-template-rows: 80px 100% 50px;
}

#centerContent {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

#leftColumn {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    border: black solid 5px;
}

#leftColumn button {
    height: 50px;
    width: 150px;
}

div {
    background-color: #d61313;
}

header {
    background-color: blue;
}

h3 {
    font-size: 3rem;
}

.taskCard h5, .taskCard p {
    margin: 0px;
}

#currentTasks {
    display: grid;
    gap: 10px;
}

.taskCard {
    height: 90px;
    background-color: rgb(123, 44, 180);
    display: grid;
    grid-template-columns: 25px repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: solid black 3px;
}

.completionStatus {
    grid-row: 1 / -1;
}

.description, .dueDate {
    grid-row: 2;
}

.importantIcon {
    width: 30px;
    height: 30px;
}

#addTaskDiv {
    display: grid;
    grid-template-columns: 25px 1fr;
    height: 90px;
}

#addTaskInput {
    grid-column: 2;
    width: 100%;
    height: 80px;
}

footer {
    background-color: green;

}

