:root {
    --taskColor: rgba(255, 255, 255, 0.484);
    --panelColor: #eeeeee;
  }

html {
    height: 100%;
}

header {
    display: grid;
    grid-template-columns: 80px 1fr;
}

header img, header h1 {
    margin: 0px;
    align-self: center;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    height: 100vh;
    grid-template-rows: 80px 1fr 50px;
    margin: 0;
}

body::before {
    content: '';
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url('./images/yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px); /* Adjust the px value to increase or decrease the amount of blur */
}

#projectsPanel {
    background-color: var(--panelColor);
}

#taskEditPanel {
    background-color: var(--panelColor);
}

#hamburgerMenu {
    width: 60px;
    height: 60px;
}

h3 {
    font-size: 3rem;
}

.taskCard h5 {
    font-size: 20px;
    text-wrap: wrap;
    overflow: auto;
    padding: 4px 0px;    
}

.taskCard h5, .taskCard p {
    margin: 0px;
    align-self: center;
}

.taskCard p, #currentDate {
    font-size: 18px;
}

#currentDate {
    font-weight: 1000;
}

#currentTasks {
    display: grid;
    gap: 20px;
    margin: 30px;
}

#currentTasks > h2, #currentTasks > p {
    margin: 0px;
}

.taskCard {
    height: 90px;
    display: grid;
    grid-template-columns: 45px repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: 8px;
    background-color: var(--taskColor)
}

.completionStatus {
    grid-row: 1 / -1;
}

.grayed-out-text {
    color: #808080;
}

/* Hide the default checkbox */
.completionStatus {
    appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid #000000; /* Border color */
    border-radius: 50%; /* Round shape */
    cursor: pointer;
    background: white; /* Background of the checkbox */
    place-self: center;
  }
  
  /* Style for when the checkbox is checked */
  .completionStatus:checked {
    background-color: #023e8a; /* Background color when checked */
  }

.projectLabel, .dueDate {
    grid-row: 2;
}

.importantIcon {
    width: 30px;
    height: 30px;
}


#addTaskDiv {
    display: grid;
    grid-template-columns: 25px 1fr;
    height: 90px;
    border-radius: 8px;
}

#addTaskDiv input {
    border-radius: 8px;
}

#addTaskInput {
    grid-column: 1 / 3;
    width: 100%;
    height: 80px;
}

.task-edit-panel {
    position: fixed;
    top: 0;
    right: -100%; /* Start off-screen */
    width: 375px; /* Or any desired width */
    height: 100%;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,.4), 0 6px 20px 0 rgba(0,0,0,.4);
    transition: right 0.5s; /* Smooth slide-in effect */
    padding: 20px;
}

/* Class to slide in the panel */
.task-edit-panel.open {
    right: 0;
}

.projects-panel {
    position: fixed;
    top: 0;
    left: -100%; /* Start off-screen */
    width: 375px; /* Or any desired width */
    height: 100%;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,.4), 0 6px 20px 0 rgba(0,0,0,.4);
    transition: left 0.5s; /* Corrected transition property */
    padding: 20px;
}

.projects-panel.open {
    left: 0;
}

